.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vw;
  max-height: 80vh;
  width: 100%;
  margin: auto;
  margin-top: -5vh;
  overflow: hidden;
}

.main_banner {
  display: flex;
  position: relative;
  width: min-content;
}

.main_estrellas {
  position: absolute;
  height: 90%;
  top: -5%;
  right: 95%;
  z-index: 10;
  filter: drop-shadow(1px 1px 2px #000000);
}

.main_bolo {
  position: absolute;
  top: -30%;
  right: -10%;
  height: 180%;
  filter: drop-shadow(1px 1px 2px #000000);
  transform: rotate(20deg);
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  gap: 4em;
  border-top: 10px solid #ccc;
  border-bottom: 10px solid #ccc;
  background-image: url('~/media/images/fondoInicio.webp');
  background-size: cover;
}
.section_intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.section_intro_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: bebasNeue;
  font-size: 1.3em;
  text-align: center;
}

.section_intro_text_p1 {
  width: 60vw;
  max-width: 400px;
  margin: 0;
}

.section_intro_text_p2 {
  width: 80vw;
  margin: 0;
  max-width: 600px;
}

.section_intro_time {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  font-family: bebasNeue;
}

.section_intro_time_slash {
  height: 3.2em;
  width: 0.2em;
  margin: 0 10px;
  border-radius: 10px;
  background-color: #000;
}

.section_intro_time_p {
  margin: 0;
}

.section_intro_time_days > .section_intro_time_p {
  text-align: right;
}

.section_first {
  position: relative;
  width: 80vw;
  max-width: 700px;
  padding-left: 5%;
}

.section_first_titulo {
  position: absolute;
  font-family: bebasNeue;
  font-size: 4em;
  left: 0;
  line-height: 80%;
  writing-mode: vertical-rl;
  filter: drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 1px #fff)
    drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 1px #fff)
    drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 1px #fff);
  text-transform: uppercase;
  z-index: 10;
}

.section_first_datos {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-size: 1em;
}

.section_first_containerImg {
  position: relative;
  box-shadow: 0 0 5px 1px #000;
  animation-name: entradaIzquierda;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.section_first_img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@keyframes entradaIzquierda {
  from {
    transform: translateX(-10%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
.section_first_p {
  padding-left: 15%;
  text-align: end;
}

.section_second {
  width: 80vw;
  max-width: 700px;
  position: relative;
  padding-right: 5%;
}

.section_second_p {
  padding-right: 5vw;
}

.section_second_titulo {
  position: absolute;
  font-family: bebasNeue;
  text-transform: uppercase;
  font-size: 3.5em;
  width: min-content;
  text-align: end;
  right: 0;
  top: -3rem;
  line-height: 90%;
  filter: drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 1px #fff)
    drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 1px #fff)
    drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 1px #fff);
  z-index: 10;
}

.section_second_datos {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-size: 1em;
}

.section_second_containerImg {
  position: relative;
  box-shadow: 0 0 5px 1px #000;
  animation-name: entradaIzquierda;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.section_second_img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.section_third {
  display: flex;
  gap: .3em;
  width: 95vw;
  max-width: 900px;
}
.section_third_titulo {
    font-family: bebasNeue;
    text-transform: uppercase;
    font-size: 3.5em;
    filter: drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 1px #fff);
}
.section_third_datos {
}
.section_third_containerImg {
  height: 60vw;
  max-height: 400px;
  aspect-ratio: 9/16;
}

.section_third_img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  transform: rotateY(180deg);
}

.section_third_p {
  margin: 0;
}
