.confetis {
  position: absolute;
  height: 100px;
  width: 100%;
}

.confeti {
  position: absolute;
  left: 0;
  height: 0.4em;
  width: 0.6em;
  opacity: 0;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  transform: rotate(90deg) translate(0em) rotate(-90deg);
}

@keyframes x1 {
  to {
    opacity: 1;
    transform: rotate(5deg) translate(-1em) rotate(180deg) rotateX(720deg);
  }
}
@keyframes x2 {
  to {
    opacity: 1;
    transform: rotate(5deg) translate(-4em) rotate(180deg) rotateX(720deg);
  }
}
@keyframes x3{
  to {
    opacity: 1;
    transform: rotate(10deg) translate(-2em) rotate(400deg) rotateX(360deg);
  }
}
@keyframes x4 {
  to {
    opacity: 1;
    transform: rotate(10deg) translate(-5em) rotate(400deg) rotateX(360deg);
  }
}
@keyframes x5 {
  to {
    opacity: 1;
    transform: rotate(20deg) translate(-3em) rotate(400deg) rotateX(360deg);
  }
}
@keyframes x6 {
  to{
    opacity: 1;
    transform: rotate(20deg) translate(-6em) rotate(400deg) rotateX(180deg);
  }
}
@keyframes x7 {
  to {
    opacity: 1;
    transform: rotate(30deg) translate(-4em) rotate(400deg) rotateX(540deg);
  }
}
@keyframes x8 {
  to {
    opacity: 1;
    transform: rotate(30deg) translate(-1em) rotate(400deg) rotateX(540deg);
  }
}
@keyframes x9 {
  to {
    opacity: 1;
    transform: rotate(40deg) translate(-5em) rotate(400deg) rotateX(0deg);
  }
}
@keyframes x10 {
  to {
    opacity: 1;
    transform: rotate(40deg) translate(-2em) rotate(400deg) rotateX(0deg);
  }
}