.footer{
  background-color: #222222;
  color: #fff;
  display: flex;
  justify-content: center;
  height: 100px;
}

.footer_terminos{
  display: flex;
  margin: 5px;
  align-items: end;
  font-size: .9rem;
}

.footer_terminos_texto{
  margin: 0 3px;
}