.main {
  width: 100%;
  min-height: 15em;
  height: 100vw;
  max-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin: auto;
  margin-top: -5vh;
}

.main_container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 9em;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

.main_img {
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  opacity: 0;
  margin-right: -4.8em;
  transform: translateX(-15em) rotate(-200deg) scale(.5);
}

.main_container[isvisible='true'] > .main_img {
  animation-name: ball;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes ball {
  0% {transform: translateX(-15em) rotate(-200deg) scale(.5);
    opacity: 0;
  }
  100% {transform: translateX(0em) rotate(0deg);
    opacity: 1;
  }
}

.main_header {
  margin-left: -4.3;
  text-align: end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.main_header::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 20px;
  z-index: 15;
  left: 0;
  top: 0;
  border-radius: 10px;
  filter: blur(30px);
  background-color: #fff;
  opacity: 0;
  transform: translateX(-2em);
}

.main_header[isvisible='true']::before {
  animation-name: banner;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes banner {
  0% {
    opacity: 0;
    transform: translateX(-2em);
  }

  25% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(20em);
  }
}

.main_h1 {
  font-family: bebasNeue;
  font-size: 4.2em;
  margin-bottom: -0.3em;
}

.main_p {
  font-size: 1.8em;
  margin: 0;
}

#article {
  max-width: 750px;
  margin: auto;
  margin-bottom: 2em;
  position: relative;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 3em;
}

.sections_svg {
  height: 3.5em;
  width: 3.5em;
  padding: 0 0.5em;
}

.leftBar {
  width: 50px;
  background-color: #555;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}

.intro_data {
}

.intro_title {
}

.intro_text {
}

.intro_img {
  aspect-ratio: 16/9;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .main {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .main {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1025px) {
  .main {
    font-size: 2.1rem;
  }
}
