.itemCarta{
  display: flex;
  flex-direction: column;
  width: max-content;
  text-align: center;
  margin: 10px 5px;
}

.itemCarta_titulo{
  margin: 0;
  text-transform: uppercase;
  border-bottom: 1px solid #0003;
}

.itemCarta_ul{
  padding: 0;
  margin: 0;

}

.itemCarta_li{
  font-size: 1em;
  margin: 5px;
}


.itemCarta_adicional_titulo {
  text-transform: capitalize;
  font-size: 1.1em;
  margin-top: 5px;
}


.itemCarta_adicional_li {
  font-size: 1em;
}