.itemCarta {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 10px 5px;
  flex-grow: 1;
  gap: .5em;
}

.itemCarta_titulo {
  margin: 0;
  font-size: 2em;
  color: #252525;
  font-family: bebasNeue;
  text-transform: uppercase;
  border-bottom: 1px solid #0003;
}

.itemCarta_ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: .1em;
}

.itemCarta_adicional_titulo {
  text-transform: capitalize;
  font-size: 1.1em;
  margin-top: 5px;
}

.itemCarta_li {
  margin: 1px;
  display: flex;
  flex-wrap: wrap;
}
.itemCarta_li_data {
  display: flex;
  width: 100%;
}

.itemCarta_li_nombre {
  font-size: 1em;
  margin: 0;
  min-width: max-content;
  font-family: sans-serif;

}

.itemCarta_li_puntosContenedor{
  flex-grow: 1;
  width: min-content;
  overflow: hidden;
}

.itemCarta_li_puntos {
  margin: 0;

}

.itemCarta_li_precio {
  margin: 0;

}

.itemCarta_li_descripcion {
  font-size: 0.8em;
  margin: 0;
  color: #444;
  align-self: flex-end;
  font-family: sans-serif;
}

.itemCarta_adicional_p {
  font-size: 0.8em;
  margin: 0;
}
