.marcas{
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.marcas_ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.marcas_li{
  height: 70px;
  width: 120px;
  margin: 0 5px;
}

.marcas_img{
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}