.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 18em;
  height: 60vw;
  max-height: 50vh;
  margin: 5vh 0;
}

.logoText_bowling {
  font-size: 1.8rem;
}

.logoText_dePaso {
  font-size: 0.8rem;
}

.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.titulo_h {
  position: relative;
  font-family: bebasNeue;
  font-size: 10em;
}

.titulo_h::before {
  content: '';
  position: absolute;
  height: 80%;
  width: 20px;
  z-index: 15;
  border-radius: 10px;
  filter: blur(25px);
  background-color: #fff;
  opacity: 0;
  transform: translateX(-0.2em);
  transition: transform 2s;
}

.titulo_h[isvisible='true']::before {
  animation-name: banner;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transform: translateX(2.5em);
}

@keyframes banner {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.titulo_descripcion {
  font-family: arialRounded;
  margin: 0;
  font-size: 1em;
  width: 70vw;
  max-width: 500px;
  text-align: center;
}

.stickers {
  position: relative;
  display: flex;
  justify-content: center;
  width: 60vw;
  max-width: 800px;
  height: 20vw;
  max-height: 150px;
}

.sticker {
  aspect-ratio: 10 / 10;
  height: 100%;
  margin: 0 2vw;
  flex-grow: 1;
  object-fit: contain;
}

.pizza[isvisible='true'] {
  animation-name: sticker;
  animation-duration: 0.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.cerveza[isvisible='true'] {
  animation-name: sticker;
  animation-duration: 0.5s;
  animation-delay: 1.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.helado[isvisible='true'] {
  animation-name: sticker;
  animation-duration: 0.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes sticker {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.carta {
  position: relative;
  min-height: 500px;
  max-width: 1000px;
  width: 90%;
  margin: auto;
  margin-bottom: 2em;
  padding: 8px;
  border-radius: 20px;
  box-shadow: 0 0px 5px 0px #222;
  background-color: #555;
}

.carta_categorias {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: min-content;
  top: -10px;
  left: 0;
  border-radius: 2px;
}

.carta_categoriasUl {
  font-family: bebasNeue;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 2px;
  height: 100%;
  background-color: #888;
  border: 1px solid #000;
  margin: -3px 0;
  padding: 0 10px;
  box-shadow: 0 0 5px 0px #222;
  z-index: 10;
}

.carta_categoriasLi {
  color: #fff;
  box-sizing: border-box;
  border-left: 2px solid #aaa;
  font-size: 1.3em;
  padding: 5px 7px;
  margin: 0;
  height: 100%;
  transition: background-color 0.3s, box-shadow 0.3s, border-radius 0.3s;
}
.carta_categoriasLi:first-child {
  border: none;
}

.carta_categoriasLi[open] {
  background-color: #d9d9d9;
  box-shadow: 0 0 1px 0.3px #0009;
}

.carta_categoriasLi[open] > .carta_categoriasP {
  color: #222222;
}

.carta_categoriasLi:hover {
  background-color: #eee;
  cursor: pointer;
  box-shadow: 0 0 10px 0px #2225;
}

.carta_categoriasLi:hover > .carta_categoriasP {
  color: #222222;
}

.carta_categoriasLi[isvisible='true'] {
  animation-name: categoria;
  animation-duration: 1s;
  animation-delay: 1s;
}

@keyframes categoria {
  10% {
    transform: scale(1.2);
  }
  20% {
    transform: scale(1.2);
  }
  30% {
    transform: scale(1.2) rotate(-3deg);
  }
  40% {
    transform: scale(1.2) rotate(3deg);
  }
  50% {
    transform: scale(1.2) rotate(-3deg);
  }
  60% {
    transform: scale(1.2) rotate(3deg);
  }
  70% {
    transform: scale(1.2) rotate(-3deg);
  }
  90% {
    transform: scale(1.2);
  }
}

.carta_categoriasP {
  margin: 0;
  transition: color 0.3s, transform 0.1s;
}

.carta_subcategorias {
  font-family: bebasNeue;
  background-color: #ddd;
  position: absolute;
  top: 100%;
  width: min-content;
  max-width: 95%;
  box-shadow: 0 2px 4px 0px #2225;
  padding: 3px 5px 1px 5px;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
}

.carta_subcategoriasUl {
  letter-spacing: 0.02em;
  font-size: 0.9em;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}

.carta_subcategoriasLi {
  padding: 0 5px;
  cursor: pointer;
}

.carta_subcategoriasP {
  margin: 0;
}

.carta_info {
  height: 100%;
  border-radius: 10px;
  width: 100%;
  background-image: url('~/media/images/fondoCarta.webp');
  background-color: #eee;
  background-size: cover;
  padding: 0 4%;
  gap: 30px;
  padding-top: 2.5em;
  display: flex;
  justify-content: center;
  min-height: 500px;
  flex-wrap: wrap;
  box-sizing: border-box;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .carta_categoriasLi {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .carta_categoriasLi {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 1025px) {
  .carta_categoriasLi {
    font-size: 1.9rem;
  }
}
