.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 60vh;
  position: relative;
  margin: 5vh 0;
}

.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo_h {
  font-family: bebasNeue;
  letter-spacing: 10px;
  font-size: 10rem;
}

.titulo_descripcion {
  font-family: arialRounded;
  margin: 0;
  font-size: 1rem;
  width: 70vw;
  max-width: 500px;
  text-align: center;
}

.stickers {
  position: relative;
  display: flex;
  justify-content: center;
  width: 60vw;
  max-width: 800px;
  height: 20vw;
  max-height: 200px;
}

.sticker {
  height: 100%;
  margin: 0 2vw;
  flex-grow: 1;
  object-fit: contain;
}
.carta {
  position: relative;
  width: 90%;
  max-width: 1000px;
  min-height: 500px;
  margin: auto;
  padding: 8px;
  background-color: #555;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 0px 5px 0px #222;
}

.carta_categorias {
  width: 50%;
  min-width: min-content;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0 15px;
  left: 0;
  right: 0;
  top: -5px;
  border-radius: 2px;
  position: absolute;
  background-color: #777;
}

.carta_categoriasUl {
  font-family: bebasNeue;
  letter-spacing: 1px;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 2px;
  height: 100%;
  background-color: #aaa;
  margin: -3px 0;
  padding: 0 10px;
  box-shadow: 0 0 5px 0px #222;
  z-index: 10;
  text-transform: uppercase;
}

.carta_categoriasLi {
  color: #fff;
  font-size: 2rem;
  padding: 5px 7px;
  margin: 0;
  height: 100%;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.carta_categoriasLi:hover {
  background-color: #eee;
  cursor: pointer;
  box-shadow: 0 0 10px 0px #2225;
}

.carta_categoriasLi:hover > .carta_categoriasP {
  color: #222222;
}

.carta_categoriasP {
  margin: 0;
  transition: color 0.3s, transform 0.1s;
}

.carta_subcategorias {
  font-family: bebasNeue;
  background-color: #ccc;
  position: absolute;
  top: 100%;
  width: min-content;
  max-width: 95%;
  box-shadow: 0 2px 4px 0px #2225;
  padding: 2px 5px 3px 5px;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
}

.carta_subcategoriasUl {
  font-size: 1rem;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}

.carta_subcategoriasLi {
  padding: 0 5px;
  cursor: pointer;
}

.carta_subcategoriasP {
  margin: 0;
}

.carta_info {
  height: 100%;
  border-radius: 10px;
  width: 100%;
  background-image: url('~/media/images/fondoCarta.jpg');
  background-size: cover;
  padding-top: 80px;
  display: flex;
  justify-content: space-around;
  min-height: 500px;
  flex-wrap: wrap;
}
