.nav {
  position: sticky;
  top: 0px;
  z-index: 50;
  background-color: #222222;
  font-size: 1.7rem;
  font-family: bebasNeue;
  letter-spacing: 1px;
  filter: drop-shadow(0 0 5px #000c);
  height: 60px;
}

.nav_logo {
  display: none;
}

.nav_ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  list-style: none;
  height: 100%;
}

.nav_li {
  display: flex;
  margin: 0;
  height: 100%;
  transition: background-color 0.3s;
}

.nav_li:hover {
  background-color: #fff;
}

.nav_li:hover > .nav_link {
  color: #222222;
}

.nav_link {
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  align-items: center;
  color: #eee;
  transition: transform 0.1s, color 0.3s;
}

.nav_selected {
  background-color: #eee;
}
.nav_link_selected {
  color: #111111;
}

.nav_background {
  display: none;
}
.nav_button {
  display: none;
}

@media screen and (max-width: 720px) {
  .nav_logo {
    display: block;
    font-size: .35rem;
    position: absolute;
    top: 50%;
    padding-left: 1rem;
    z-index: 80;
    transform: translateY(-50%);
  }

  .nav_ul {
    position: fixed;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0;
    list-style: none;
    flex-direction: column;
    background-color: #222222;
    top: 0;
    left: 100%;
    box-sizing: border-box;
    height: 100vh;
    padding: 60px 10px;
    transform: translateX(5px);
    transition: transform 0.3s;
  }

  .nav_ul[open] {
    transform: translateX(-100%);
  }
  .nav_li {
    display: flex;
    margin: 3px 0;
    height: min-content;
    transition: background-color 0;
  }

  .nav_li:hover {
    background-color: #fff0;
  }

  .nav_li:hover > .nav_link {
    color: #eee;
  }

  .nav_link {
    text-decoration: none;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    align-items: center;
    transition: transform 0, color 0;
    color: #eee;
  }

  .nav_selected {
    background-color: #eee0;
  }

  .nav_link_selected {
    color: #eee;
  }

  .nav_background {
    width: 100vw;
    background-color: #2227;
    position: absolute;
    display: block;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .nav_background[open] {
    height: 100vh;
    opacity: 1;
  }

  .nav_button {
    display: flex;
    position: absolute;
    background: transparent;
    flex-direction: column;
    justify-content: space-between;
    border: 0;
    padding: 0;
    margin: 0 1rem;
    top: 50%;
    height: 1.5rem;
    width: 1.5rem;
    right: 0;
    z-index: 80;
    transform: translateY(-50%);
  }

  .nav_span {
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #eee;
    background-color: #eee;
    width: 100%;
    transform-origin: left;
    transition: transform 0.3s, opacity 0.3s;
  }

  .nav_button[open] > .nav_span:first-child {
    transform: rotate(45deg) translateY(50%);
  }
  .nav_button[open] > .nav_span:last-child {
    transform: rotate(-45deg) translateY(-50%);
  }
  .nav_button[open] > .nav_span:nth-child(2) {
    opacity: 0;
  }
}
