.nav{
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #222222;
  font-size: 1.7rem;
  font-family: bebasNeue;
  letter-spacing: 1px;
  box-shadow:  0 0 10px 0 #222222;
  overflow: hidden;
}

.nav_ul{
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  margin: 0;
  list-style: none;
}

.nav_li{
  display: flex;
  margin: 0;
  height: 100%;
  transition:  background-color .3s;
}

.nav_li:hover {
  background-color: #fff;
}

.nav_li:hover > .nav_link {
  color: #222222;
}

.nav_link{
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  align-items: center;
  transition: transform .1s, color .3s;
  color: #eee;
}

.nav_selected{
  background-color: #eee;
}
.nav_link_selected{
  color: #111111;
}